<!-- bilerplate -->
<% layout("/boilerplate") %>

<!-- content -->
<h1 class="main-heading tac">Edit Details</h1>
<form
  action="/listings/<%= listing._id %>/edit?_method=PUT"
  id="NewForm"
  method="post"
>
  <div class="input-area">
    <label for="title" class="form-label">Title</label>
    <input
      autocomplete="on"
      name="title"
      value="<%= listing.title %>"
      type="text"
      class="form-control title"
      id="title"
    />
    <h4 class="errmsg dn">Title is required</h4>
  </div>
  <div class="input-area">
    <label for="Description" class="form-label">Description</label>
    <textarea
      rows="9"
      name="description"
      type="text"
      class="form-control description"
      id="Description"
    >
    <%= listing.description %></textarea
    >
    <h4 class="errmsg dn">Description is required</h4>
  </div>
  <div class="input-area">
    <label for="ImageUrl" class="form-label">Image Url</label>
    <input
      type="text"
      class="form-control img"
      name="image[url]"
      value="<%= listing.image.url %>"
      id="ImageUrl"
    />
    <h4 class="errmsg dn">Enter Valid Url</h4>
  </div>
  <div class="input-area f jcsb">
    <div class="input-area f3">
      <label for="Country" class="form-label">Country</label>
      <input
        name="country"
        type="text"
        value="<%= listing.country %>"
        value="Pakistan"
        class="form-control country"
        id="Country"
      />
      <h4 class="errmsg dn">Country is required</h4>
    </div>
    <div class="input-area f3">
      <label for="Location" class="form-label">Location</label>
      <input
        name="location"
        type="text"
        class="form-control location"
        value="<%= listing.location %>"
        id="Location"
      />
      <h4 class="errmsg dn">Location is required</h4>
    </div>
    <div class="input-area f3">
      <label for="Price" class="form-label">Price</label>
      <input
        name="price"
        type="text"
        value="<%= listing.price %>"
        class="form-control price"
        id="Price"
      />
      <h4 class="errmsg dn">Price is required</h4>
    </div>
  </div>
  <div class="input-area">
    <input type="submit" value="Update" class="Newsubmit" />
  </div>
</form>
