<% layout("boilerplate") %>
<!-- banner -->
<div class="banner container flex">
  <div class="f10">
    <div class="spacer4"></div>
    <div class="banner-info">
      <h1 class="wtc">WELCOME TO OUR WEBSITE</h1>
      <p class="wtc">
        Lorem ipsum dolor amet consectetur. Lorem ipsum dolor sit amet
        consectetur adipisicing elit.
      </p>
      <div>
        <a href="/listings">View Listings</a>
        <a class="outline" href="/listings/new">Create Listing</a>
      </div>
    </div>
    <div class="spacer4"></div>
  </div>
</div>

<div class="cards container">
  <h1 class="heading1">Most Populer Listings</h1>
  <div class="row grow">
    <!--  -->
    <% for (let i = 5; i <= 8; i++) { %> 
      <div class="col-md-3">
        <a href="/listings/<%= listings[i]._id %>" class="card">
          <div class="img">
            <img src="<%= listings[i].image.url %>" alt="image" />
          </div>
          <div class="card-body">
            <h3><%= listings[i].title %></h3>
            <p class="two-line">
              <%= listings[i].description %>
            </p>
          </div>
        </a>
      </div>
      <%} %>
  </div>
</div>



<div class="cards-box container">
  <h1 class="heading1">Featured Listings</h1>
  <div class="f gapc10 col-4 grow">
    <% for (let i = 2; i < 6; i++) { %>
      <div class="f0">
        <a href="/listings/<%= listings[i]._id %>" class="card">
        <div class="card">
          <div class="img">
            <img src="<%= listings[i].image.url %>" alt="image" />
          </div>
          <div class="content">
            <h4 class="sub-heading"><%= listings[i].title %></h4>
            <p class="two-line st stc mt10"><%= listings[i].description %></p>
          </div>
        </div>
        </a>
      </div>
    <% } %>
  </div>
</div>