<%- layout("boilerplate") %>
<div class="wrapper">
  <div class="row f jcsb">
    <div class="img f5">
      <img src="<%= listing.image.url %>" alt="image" />
    </div>
    <div class="info f5 p1r f fdc">
      <h1 class="heading"><%= listing.title %></h1>
      <p class="price">
        <b>Price:</b>
        <span class="box">Rs. <%= listing.price %></span>
      </p>
      <p class="location">
        <b>Location:</b> <span class="box"><%= listing.location %></span>
      </p>
      <p class="country">
        <b>Country:</b> <span class="box"><%= listing.country %></span>
      </p>

      <div class="f aic">
        <form
          action="/listings/<%= listing._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn delete">Delete</button>
        </form>
        <a href="/listings/<%= listing._id %>/edit" class="btn edit">Edit</a>
      </div>
    </div>
    <div class="descrip-box f10">
      <p class="description">
       <b> Description:</b> <div class="box cus-pad"><%= listing.description %></div>
      </p>
    </div>
  </div>
</div>
