<% layout("boilerplate") %>

<!--   profile page  -->

<div class="f fdc profile container">
  <div class="f10">
    <div class="profile-banner br10">
      <img
        src="https://cdn.pixabay.com/photo/2015/08/23/09/22/banner-902589_1280.jpg"
        alt="Banner"
      />
    </div>
  </div>
  <div class="f nowrap user-info br20 aic mt20">
    <div class="f1">
      <img src="<%= UserDetails[0].dp %>" class="br100p" alt="profile" />
    </div>
    <div class="f4 f fdc rg10 ml20">  
      <div class="f aic">
        <h2 class="mtc">
          <i>@<%= UserDetails[0].username %> </i>
        </h2>
        <p class="mtc ml10">(Views: <%= UserListings.reduce((sum, listing) => sum += listing.views, 0) %> )</p>
      </div>
      <p class="mt mtc">
        🟢<i class="id"> User ID @<%= UserDetails[0]._id %></i>
      </p>
      <p class="mt mtc">
        🟢<i class="id"> Total Listings : <%= UserListings.length %></i>
      </p>
      <% if(currUser && currUser._id.equals(UserDetails[0]._id)){ %>
      <span class="mtc">
        <a class="mtc edit" href="/user/account"
          >Manage Listings</a
        >
      </span>
      <% } %>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <% if (!UserListings.length == 0) { %>

  <div class="all-listings jcc f mt5r col-4 gapc10">
    <% for (let i = UserListings.length - 1; i >= 0; i--) { %>
    <div class="card-box max f1">
      <div class="row">
        <div class="col-md-3">
          <div class="img grow">
              <a
              href="/listings/<%= UserListings[i]._id %>"
                class="card f fdc jcsb"
              >
              <img src="<%= UserListings[i].image.url %>" alt="image" />
            </a>
            </div>
            <div class="card-body f fdc jcsb">
              <h3 class="one-line"><%= UserListings[i].title %></h3>
              <p class="two-line"><%= UserListings[i].description %></p>
              <p>
                <span class="line-box">Rs.<%= UserListings[i].price %></span>
                <span class="line-box"><%= UserListings[i].country %></span>
              </p>
            </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% }else{ %>
  <h1 class="heading1">No Listings Created!</h1>
  <% } %>
</div>
