<% layout("boilerplate") %>

<!--   profile page  -->

<div class="f fdc profile container">
  <div class="f10">
    <div class="profile-banner br10">
      <img
        src="https://cdn.pixabay.com/photo/2015/08/23/09/22/banner-902589_1280.jpg"
        alt="Banner"
      />
    </div>
  </div>
  <div class="f nowrap user-info br20 aic mt20">
    <div class="f1-5">
      <img src="<%= currUser.dp %>" class="br100p" alt="profile" />
    </div>
    <div class="f8 f fdc rg10 ml20">
      <h2 class="mtc"><i>@<%= currUser.username %></i></h2>
      <p class="mt mtc">🟢<i class="id"> User ID @<%= currUser._id %></i></p>
      <p class="mt mtc">
        🟢<i class="id"> Listings : <%= UserListings.length %></i>
      </p>
      <a href="/logout" class="edit">Logout</a>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <% if (!UserListings.length == 0) { %>
  <div class="f aic">
    <div class="f33"></div>
    <div class="f33">
      <h1 class="heading1">Your Listings</h1>
    </div>
    <div class="f33 tae">
      <a href="/listings/new" class="btn">Create Listing</a>
    </div>
  </div>
  <div class="all-listings col-10 jcc f fdc gapr10">
    <% for (let i = UserListings.length - 1; i >= 0; i--) { %>
      <div class="f10 f col-7 User-listings card-box jcsb">
        <div class="img f2 grow">
          <a href="/listings/<%= UserListings[i].id %>" class="block">
          <img src="<%=UserListings[i].image.url%>" alt="" />
        </a> 
      </div>
      <div class="f fdc jcse f8">
        <h3 class="one-line"><%= UserListings[i].title %></h3>
        <p class="two-line st"><%= UserListings[i].description %></p>
        <p>
          <span class="line-box">Rs.<%= UserListings[i].price %></span>
          <span class="line-box"><%= UserListings[i].country %></span>
        </p>
        <div class="f aic delete-edit">
          <form
            action="/listings/<%= UserListings[i]._id %>?_method=DELETE"
            method="post"
          >
            <div class="shake">
              <button class="delete">Delete</button>
            </div>
          </form>
          <a href="/listings/<%= UserListings[i]._id %>/edit" class="edit"
            >Edit</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% }else{ %>
  <h1 class="heading1">No Listings Created!</h1>
  <% } %>
</div>
